html {
    scroll-behavior: smooth;
  }
  
body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    /**background-image: url(https://images.unsplash.com/photo-1444464666168-49d633b86797?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1469&q=80)**/;
    background-repeat: no-repeat;
    background-size: cover;
    transition: background-image 2.0s ease-in-out;
  }
  .navbar {
    background-color: #2A6560;
    color: #fff;
    padding: 10px;
  }
  .navbar a {
    color: #fff;
    text-decoration: none;
    margin-right: 10px;
  }
  .navbar a:hover {
    color: #fff;
    text-decoration: underline;
  }
  .logo {
    color: #A94C77;
    font-size: 30px;
    margin-right: 10px;
  }
  .well {
    color: #FDCEAF;
    font-size: 24px;
  }
  .main-content {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 100px;
    padding: 0 50px;
    box-sizing: border-box;
    margin-top: 200px;
  }
  .main-heading {
    font-size: 40px;
    color: #fff;
    text-align: right;
  }
  .home-p {
    margin-left: 50px;
    margin-bottom: 50px;
    width: 400px;
    color: #fff;
    font-size: 25px;
  }
  .main-button {
    display: block;
    width: fit-content;
    margin-top: 10px;
    margin-left: 50px;
    padding: 10px 20px;
    background-color: #A94C77;
    color: #fff;
    font-size: 30px;
    text-decoration: none;
    border-radius: 10px;
  }
  .main-button:hover {
    background-color: #FDCEAF; /* Update with your desired hover color */
  }
/* Owl Carousel styles */
.owl-carousel {
    margin-top: 30px;
  }
  .owl-carousel .owl-item {
    background: #fff;
    padding: 20px;
    border-radius: 5px;
    text-align: center;
  }
  .owl-carousel .owl-item p {
    margin-bottom: 10px;
    font-size: 18px;
    color: #444;
  }