<!DOCTYPE html>
{% load custom_filters %}
{% load static%}
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>TraWell - search app</title>
    <link rel="stylesheet" href="{% static 'main_style.css' %}" />
    <link rel="stylesheet" href="{% static 'experience_details.css' %}" />
    <!-- GOOGLE FONTS: -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Londrina+Outline&family=Londrina+Shadow&family=Londrina+Sketch&family=Londrina+Solid&family=Nunito:ital,wght@0,300;0,400;0,500;0,700;1,400;1,500;1,700&family=Permanent+Marker&family=Sedgwick+Ave+Display&display=swap"
      rel="stylesheet"
    />
    <!-- FONTAWESOME ICONS: -->
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.2/css/all.min.css"
      integrity="sha512-1sCRPdkRXhBV2PBLUdRb4tMg1w2YPf37qatUFeS7zlBy7jJI8Lf4VHwWfZZfpXtYSLy85pkm9GaYVYMfw5BC1A=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"/>
   
  </head>
  <body>
    <div class="navbar-responsive">
      <div class="navbar">
        <div class="navbar-container-logo">
        <a href="{% url 'home_app'%}"><span class="logo">Tra<span class="well">Well</span> </span></a>
        </div>
        <div class="navbar-container-links">
          <a class="nav-link" href="{% url 'search_app:search_index' %}">Search</a>
          <a class="nav-link" href="{% url 'user_app:register' %}">Registration</a>
          <a class="nav-link" href="{% url 'user_app:login' %}">Login</a>
          <a class="nav-link" href="{% url 'user_app:user_profile' %}">My Profile</a>
          <a class="nav-link" href="{% url 'home_app:about' %}">About</a>
        </div>
      </div>
    </div>

    
      
          <div class="experience-container">
          <div class="experience-title">{{experience.title}}</div>
          <div class="experience-picture">
            <img
              class="experience-picture-file"
              src="{{experience.experience_image.url}}"
              alt="experience image"
            />
          </div>
        
        <div class="experience-description">
          <br />
          <h2 class="experience-description-header">Description</h2>
          {{experience.description}}
          <h2 class="experience-price-header">Price</h2>
          <p class="price">{{experience.price}}</p>
        </div>
        
          
          <button id="book-button" class="book-button">Book now</button>
        
      <!-- Hidden form for booking -->
     <form id="booking-form" method="post" action="{% url 'search_app:experience_details' experience_id=experience_id %}">
        {% csrf_token %}
        <input type="hidden" name="traveler" value="{{ request.user.user_profile }}">
        <input type="hidden" name="host" value="{{ experience.host }}">
        <input type="hidden" name="experience_name" value="{{ experience.title }}">
      </form>

      <div class="host-section">
        <h2 class="host-header">Your Host</h2>
        {% if experience.host.user_profile_image.url != null %}
        <p><a href="{% url 'search_app:host_profile' experience_id=experience_id %}"><img
          class="host-picture"
          src="{{experience.host.user_profile_image.url}}"
          alt="host image"
        /></a><span class="host-name">{{experience.host}}</span></p> 
        {% else%}
        <p><a href="{% url 'search_app:host_profile' experience_id=experience_id %}"><img
          class="host-picture"
          src="https://pbs.twimg.com/profile_images/901947348699545601/hqRMHITj.jpg"
          alt="host image"
        /></a> <span class="host-name">{{experience.host}}</span></p>
        {% endif %}
        
        
      <p><span class="host-location">Location: </span>{{experience.host.location}}</p>
      <p><span class="host-email">Email: </span>{{experience.host}}@gmail.com</p>
      </div> 
          
      <h2 class="reviews-header">Reviews</h2>
      <div class="review-container">
        <div class="review-box">
         {% for i in review_list %}
          {% if i.listing.id == experience_id %}
          
            {% if i.author.user_profile_image.url != null %}
              <p ><img class="review-host-pic" src="{{i.author.user_profile_image.url}}" alt="host pic"><span class="author-name"> {{i.author}}</span> </p>
              {% else%}
              <p><img class="review-host-pic" src="https://pbs.twimg.com/profile_images/901947348699545601/hqRMHITj.jpg"  alt="host pic">{{i.author}} </p>
            {% endif %}
            <p><b>Rating: {{ i.rating|get_star_emoji }}</b></p>
            <p class="review-comment"> {{i.comment}}</p>
          </div>
          {% endif %}
        {% endfor %}
      </div>
        <h4>Write your own review and help other travelers like you!</h4>
        <a class="review-button" href="{%url 'finished_app:create_review' experience_id=experience_id%}"> Write review</a>
          
      

        
      

    <!-- JavaScript script -->
  <script>
    document.getElementById("book-button").addEventListener("click", function () {
      // Submit the booking form
      const bookingForm = document.getElementById("booking-form");
      bookingForm.submit();
    });
  </script>
  </body>
</html>