<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>search app</title>
</head>

<body>
    {% block content %}
    <form method="get">
        {{ filter1.form.as_p }}
        <input type="submit" />
    </form>
      <form method="get">
        {{ filter2.form.as_p }}
        <input type="submit" />
    </form>

    {% for obj in filter2.qs %}
    {{ obj.host }} - {{obj.title}} <img src="{{obj.experience_image}}" alt="experience image"><br />
{% endfor %}
{% endblock %}
</body>

</html>