#nav {
	margin:0;
	padding:0;
    background:#808259 url(nav_bg.jpg) 0 0 repeat-x;
    float:left;
	width:100%;
    border:1px solid #42432d;
	border-width:1px 0;
}
#nav li {
	display:inline;
	padding:0;
	margin:0;
}

#nav a:link,
#nav a:visited {
	color:#000;
	background:#b2b580;
    padding:20px 40px 4px 10px;
    float:left;
	width:auto;
    border-right:1px solid #42432d;
    text-decoration:none;
	font:bold 1em/1em Arial, Helvetica, sans-serif;
	text-transform:uppercase;
	text-shadow: 2px 2px 2px #555;
}

#nav li:first-child a {
	border-left:1px solid #42432d;
}

#nav a:hover,
#nav a:focus {
	color:#fff;
	background:#727454;
}

#logo{
    width: 40px;
}