<!DOCTYPE html>
{% load static %}
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>TraWell</title>
    <link rel="stylesheet" href="{% static 'main_style.css' %}"/>
    <link rel="stylesheet" href="{% static 'home_app.css' %}"/>
    <!-- GOOGLE FONTS: -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Londrina+Outline&family=Londrina+Shadow&family=Londrina+Sketch&family=Londrina+Solid&family=Nunito:ital,wght@0,300;0,400;0,500;0,700;1,400;1,500;1,700&family=Permanent+Marker&family=Sedgwick+Ave+Display&display=swap"
      rel="stylesheet"
    />
    <!-- FONTAWESOME ICONS: -->
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.2/css/all.min.css"
      integrity="sha512-1sCRPdkRXhBV2PBLUdRb4tMg1w2YPf37qatUFeS7zlBy7jJI8Lf4VHwWfZZfpXtYSLy85pkm9GaYVYMfw5BC1A=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
  </head>
  <style>
  </style>
  <body>
    <div class="navbar-responsive">
      <div class="navbar">
        <div class="navbar-container-logo">
          <a href="{% url 'home_app' %}"><span class="logo">Tra<span class="well">Well</span> </span></a>
        </div>
        <div class="navbar-container-links">
          <a class="nav-link" href="{% url 'search_app:search_index' %}">Search</a>
          <a class="nav-link" href="{% url 'user_app:register' %}">Registration</a>
          <a class="nav-link" href="{% url 'user_app:login' %}">Login</a>
          <a class="nav-link" href="{% url 'user_app:user_profile' %}">My Profile</a>
          <a class="nav-link" href="{% url 'home_app:about' %}">About</a>
        </div>
      </div>
    </div>
    <div class="background-carousel">
      <div class="background-item"></div>
      <div class="background-item"></div>
    </div>
    <div class="content-placement">
      <div class="main-content-container">
        <div class="main-heading-container">
          <h1 class="main-heading1">Find your <br><span class="h1-tab">experience</span></h1>
        </div>
        <p class="home-p1">
          Embark on a journey of discovery and immerse yourself in the vibrant tapestry of local cultures.
          Click the button below to explore and book your </br>first authentic local experience, creating
          <br>memories that will last a lifetime.
        </p>
        <a class="button1" href="{% url 'search_app:search_index' %}">Explore</a>
        <p class="home-p2">
          Ready to share your culture with curious travelers?
          Craft a captivating experience filled with local charm and cherished traditions.
        </p>
        <a class="button1" href="{% url 'post_app:post_create' %}">Create</a>
        <div class="content">{% block content %}{% endblock %}</div>
      </div>
    </div>
    <script>
      window.addEventListener("load", function () {
        var images = [
          "media/background_pics/unsplash/yunchuan-luo-7emiteIwfuk-unsplash.jpg",
          "media/background_pics/unsplash/2-ignacio-correia-Q4AW5tWkd8Q-unsplash.jpg",
          "media/background_pics/unsplash/3-subtle-cinematics-O5Fr1BZ-aR4-unsplash.jpg",
          "media/background_pics/unsplash/4-ted-bryan-yu-5mezpWin6T8-unsplash.jpg",
          "media/background_pics/unsplash/Philippines/6-ramon-kagie-4EZKcKxOlRE-unsplash.jpg"
        ];
        var currentIndex = 0;
        var backgroundItems = document.querySelectorAll(".background-item");
        function changeBackgroundImage() {
          var nextIndex = (currentIndex + 1) % images.length;
          var currentImage = images[currentIndex];
          var nextImage = images[nextIndex];
          backgroundItems[0].style.backgroundImage = "url(" + currentImage + ")";
          backgroundItems[0].style.opacity = 1;
          backgroundItems[1].style.backgroundImage = "url(" + nextImage + ")";
          backgroundItems[1].style.opacity = 0;
          setTimeout(function () {
            backgroundItems[0].style.opacity = 0;
            backgroundItems[1].style.opacity = 1;
            currentIndex = nextIndex;
          }, 8000);
        }
        changeBackgroundImage();
        setInterval(changeBackgroundImage, 8000);
      });
    </script>
  </body>
</html>